# See http://about.travis-ci.org/docs/user/build-configuration/
language: scala

scala:
   - 2.11.7

branches:
  only:
    - master

notifications:
  email:
    recipients:
      - dan.persa@zalando.de
jdk:
  - oraclejdk8
