<div class="zero">{{if condition}}<div>Hello {{user}}</div>{{else}}<div>False</div>{{/if}}</div>

<div class="first">
    {{if condition}}<div>Hello {{user}}</div>{{else}}<div>False</div>{{/if}}
</div>

<div class="second">
    {{if condition}}
    <div>Hello {{user}}</div>
    {{else}}
    <div>False</div>
    {{/if}}
</div>

<div class="third">
{{if condition}}
    <div>{{user}}</div>{{else}}
    <div>False</div>{{/if}}
</div>

{{if condition}}
<div>{{user}}</div>
{{else}}
<div>False</div>
{{/if}}